/* .container{ */
    /* justify-content: space-between; */
    /* padding: 0;
    display: flex;
    margin: 5rem;
} */
/* .image-event{ */
    /* display: flex;
    padding: 20em;
    border-radius: 5%;
    margin-right: 1rem;
    background-color: yellowgreen; */
/* } */
/* .content-event-container{
    display: flex;
    background-color: antiquewhite;
    border-radius: 5%;
    padding-right: 35%;
    white-space: normal;
} */
 /* .name-content {  */
       /* white-space: nowrap;  */
    /* margin: 2rem; */
/* } */
